body {
    margin-top: 80px;
}

.container .credit {
	margin: 20px 0;
}

.error {
	color: red;
}

#footer {
    margin-top: 20px;
}

.td-right {
	padding-top: 7px;
	text-align: right;
	vertical-align: middle;
}

.family-div {
	text-align: center;
}

.family-table {
	min-width: 600px;
	max-width: 600px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.family-table td {
	min-width: 200px;
	max-width: 200px;
	border-bottom: 1px solid #eeeeee;
	padding: 6px;
}

.users-table {
	min-width: 600px;
	max-width: 600px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.users-table td {
	min-width: 150px;
	max-width: 150px;
	border-bottom: 1px solid #eeeeee;
	padding: 6px;
}

.invitations-table {
	min-width: 600px;
	max-width: 600px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.invitations-table td {
	min-width: 120px;
	max-width: 120px;
	border-bottom: 1px solid #eeeeee;
	padding: 6px;
}

.sidebar {
	width: 250px;
	float: left;
	border: 2px solid #eeeeee;
	border-radius: 6px;
	color: #049cdb;
}

.sidebar ul {
	cursor: pointer;
	margin: 5px;
	padding-left: 25px;
	border-bottom: 1px solid #eeeeee;
}

.sidebar ul li {
	padding-bottom: 8px;
}

.sidebar h4 {
	border-bottom: 1px solid #eeeeee;
	padding-left: 15px;
	padding-bottom: 9px;
}

.sidebar a {
	padding-top: 4px;
	border-top: 1px solid #eeeeee;
}

.hide-element {
	display: none;
}

.show-element {
	display: block;
}

div #form {
	padding-bottom: 8px;
}

.jumbotron {
	margin: 10px;
	text-align: center;
}

.jumbotron h1 {
	font-size: 30px;
	line-height: 1;
}

.jumbotron .lead {
	font-size: 20px;
	line-height: 1.25;
}

.jumbotron .btn {
	font-size: 20px;
	padding: 10px;
}

#taskChart {
    height: 170px;
}

.header {
    background-color: #1EBAA5;
    border-color: darkgray;
}

.header .navbar-nav > li > a {
    color: #ffffff;
}

.header .navbar-brand {
    color: #ffffff;
}

.panel-header {
    background-color: #1EBAA5 !important;
    color: #ffffff !important;
    border-radius: 0px;
}

.no-border {
    border-radius: 0px;
}

.btn-primary {
    background-color: #1EBAA5;
    border-color: darkgray;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #45B8A6;
    border-color: darkgray;
}

.open-menu {
    background-color: #ffffff;
}

#toEvent {
    font-size: 72px;
}

.eventsCalendar-currentTitle {
    background-color: #1EBAA5 !important;
    outline: none !important;
}

.eventsCalendar-daysList.showAsWeek {
    background-color: transparent !important;
    background-image: none;
}

.eventsCalendar-daysList li.today a {
    color: #000000;
    background: #F0F0F0;
    box-shadow: inset 2px 2px 2px #D0D0D0;
    text-shadow: none;
}

li.eventsCalendar-day.today a:hover {
    box-shadow: inset 2px 2px 2px #D0D0D0;
    background: #F8F8F8;
    text-shadow: none;
}

.eventsCalendar-daysList li.dayWithEvents a {
    background: #1EBAA5;
    box-shadow: inset 2px 2px 2px #B0B0B0;
    text-shadow: none;
    color: #fff;
}

li.eventsCalendar-day.dayWithEvents a:hover {
    background-color: #30BF78;
    box-shadow: inset 2px 2px 2px #B0B0B0;
    text-shadow: none;
}